<div class="flex h-full">
    <div class="flex flex-col justify-center access-content w-3/4 px-3 gap-3">
        <div class="">
            <div class="title">Choose Your Flavor Experience</div>
            <div class="medium-text">Are you here to serve or savor?</div>
        </div>
        <div class="flex flex flex-col w-1/3 gap-y-3">
            <div
                class="access p-3 cursor-pointer"
                (click)="onSelectAccountType(AccountType.RESTAURANT)"
                [ngClass]="{ 'selected-access': accountType === AccountType.RESTAURANT }">
                <div class="medium-text">I want to run a restaurant</div>
                <div class="">
                    Sign up as a restaurant owner to create and manage one or more restaurants on
                    our platform.
                </div>
            </div>
            <div
                class="access p-3 cursor-pointer"
                (click)="onSelectAccountType(AccountType.USER)"
                [ngClass]="{ 'selected-access': accountType === AccountType.USER }">
                <div class="medium-text">I want to enjoy great food</div>
                <div class="">
                    Sign up as a regular user to explore menus and order delicious food from your
                    favorite restaurants.
                </div>
            </div>
            <div class="flex gap-x-3">
                <div class="">
                    <p-button
                        (click)="onCreateAccount()"
                        class="btnn"
                        [disabled]="!accountType"
                        label="Create account"></p-button>
                </div>
                <div class="flex" (click)="onLogin()">
                    Already have an account?&nbsp;
                    <div class="underline cursor-pointer">Login</div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-1/4 access-placeholder"></div>
</div>
