.access-content {
    background-color: var(--primary-clr);
}

.access {
    border: solid 1px var(--text-clr);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.selected-access {
    background-color: var(--text-clr);
    color: var(--primary-clr);
}

.access-placeholder {
    background-color: var(--text-clr);
}
