<div class="h-full flex justify-center">
    <form class="w-1/2 h-full flex flex-col gap-y-3 justify-center" [formGroup]="form">
        <div class="h-1/2 flex flex-col gap-y- justify-end">
            <div class="">
                <div class="medium-text">Email</div>
                <div class="">
                    <input
                        type="text"
                        pInputText
                        [formControl]="form.get('email')"
                        class="w-full h-8" />
                </div>
                <div class="h-6">
                    <ng-container *ngIf="validator('email')">
                        <app-error [message]="validator('email')"></app-error>
                    </ng-container>
                </div>
            </div>
            <div class="">
                <div class="medium-text">Password</div>
                <div class="">
                    <p-password
                        [formControl]="form.get('password')"
                        [toggleMask]="true"
                        [feedback]="false"></p-password>
                </div>
                <div class="h-6">
                    <ng-container *ngIf="validator('password')">
                        <app-error [message]="validator('password')"></app-error>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="h-1/2">
            <div class="mt-2">
                <p-button
                    [disabled]="!form.valid"
                    label="Login"
                    class="btnn"
                    (click)="onSubmit()"></p-button>
            </div>
        </div>
    </form>
</div>
<ng-container *ngIf="displayConfirmDialogBox">
    <app-confirm-dialog
        [contents]="confirmDialogContents"
        (actionEvent)="dialogAction($event)"></app-confirm-dialog>
</ng-container>
