/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-xs: 0.75rem;
    --font-sm: 1rem;
    --font-md: 1.5rem;
    --font-lg: 1.75rem;
    --font-xl: 2rem;
    --font-vb: 5rem;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 700;
    --font-weight-bold: 900;

    --primary-clr: #217b71;
    --text-clr: #bff0d6;
    --error-clr: #ff6b6b;
    --warning-clr: #ffa726;
}

@font-face {
    font-family: 'Raleway';
    src: url('src/assets/fonts/Raleway/static/Raleway-Regular.ttf');
}

body {
    font-size: 16px;
    font-family: 'Raleway';
    color: var(--text-clr);
}

.very-big {
    font-size: var(--font-vb);
    font-weight: var(--font-weight-bold);
}

.title {
    font-size: var(--font-xl);
    font-weight: var(--font-weight-bold);
}

.subtitle {
    font-size: var(--font-lg);
    font-weight: var(--font-weight-semibold);
}

.medium-text {
    font-size: var(--font-md);
    font-weight: var(--font-weight-medium);
}

.normal-text {
    font-size: var(--font-sm);
    font-weight: var(--font-weight-normal);
}

.tiny-text {
    font-size: var(--font-xs);
    font-weight: var(--font-weight-light);
}

.btnn {
    color: var(--primary-clr);
    background-color: var(--text-clr);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.opp-btnn {
    color: var(--text-clr);
    background-color: var(--primary-clr);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

input {
    color: var(--primary-clr);
    padding-left: 0.5rem;
}

.the-image {
    background-image: url('src/assets/images/auth_wall.jpg');
    background-size: cover;
    transform: scaleX(-1);
}

.p-password-input {
    width: 100% !important;
    height: 2rem;
}

.p-inputwrapper {
    width: 100% !important;
    height: 2rem;
}
